@import '~styles/index';

.custom-button {
  display: flex;
  align-items: center;
  padding: $padding-large;
  font-size: 13px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  outline: 1px solid $grey;
  color: $white;
  background-color: $mainColor;
  border-radius: $border-radius-large;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: $green;
    outline: 1px solid $white;
    color: white;
  }

  &__icon {
    margin-right: 8px;
  }

  &__label {
    flex-grow: 1;
  }
}
